<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user1-128x128.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>AIG Admin</p>
        <small>Super Admin</small>
        <!-- Status -->
        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>


    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Dashboard</li>
      <li class="active treeview">

      <li>
          <a routerLink="/starter/profile" routerLinkActive="active">
             <i class="fa fa-user"></i> <span>Profile</span>
             <span class="pull-right-container">
             </span>
           </a>
       </li>
       <li>
          <a routerLink="/starter/lists" routerLinkActive="active">
             <i class="fa fa-list-alt"></i> <span>Lists</span>
             <span class="pull-right-container">
             </span>
           </a>
       </li>
      <li>
           <a routerLink="/starter/timeline" routerLinkActive="active">
              <i class="fa fa-feed"></i> <span>TimeLine</span>
              <span class="pull-right-container">
              </span>
            </a>
        </li>

   
        <!-- <li>
            <a href="starter-appreciate">
               <i class="fa fa-thumbs-o-up"></i> <span>Appreciate</span>
               <span class="pull-right-container">
               </span>
             </a>
         </li>   -->

         <!-- <li>
            <a href="#">
               <i class="fa fa-smile-o"></i> <span>e-Thanks</span>
               <span class="pull-right-container">
               </span>
             </a>
         
          </li>   -->

          <li>   
            <a routerLink="/starter/badges" routerLinkActive="active">
            <i class="fa fa-star"></i> <span>Badges</span>
            <span class="pull-right-container">
            </span>
          </a>
         </li> 
      
         <li>   
          <a routerLink="/starter/nominate-someone" routerLinkActive="active">
           <i class="fa fa-trophy"></i> <span>Nominate Here</span>
           <span class="pull-right-container">
           </span>
         </a>
        </li> 

        <li class="treeview">   
            <a routerLink="/starter/help" routerLinkActive="active">
           <i class="fa fa-question-circle"></i> <span>Help</span>
           <!-- <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span> -->
          </a>   
              <!-- <ul class="treeview-menu">

                  <li><a href="pages/forms/editors.html"><i class="fa fa-phone"></i> Contact Us</a></li>
                  <li><a href="pages/forms/editors.html"><i class="fa fa-envelope"></i> Email</a></li>
                </ul> -->
         
        </li> 


          <!-- <li class="treeview">
              <a href="#">
                  <i class="fa fa-home"></i> <span>Home</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
              <ul class="treeview-menu">
                <li><a href="../starter-appreciate/starter-appreciate.component.html"><i class="fa fa-edit"></i> Appreciate</a></li>
                <li><a href="pages/forms/advanced.html"><i class="fa fa-edit"></i> SPOT</a></li>
                <li><a href="pages/forms/editors.html"><i class="fa fa-edit"></i> Badges</a></li>
                <li><a href="pages/forms/editors.html"><i class="fa fa-edit"></i> Nominate</a></li>
              </ul>
            
           </li> -->
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
